.menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.item {
    margin: 0 0 10px;
}

.link {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

.link:hover {
   text-decoration: underline;     
}

